body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex;
    flex-direction: column;

    .header{
        color: tomato;
        text-align: center;
    }

}



.stepContent {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    padding: 0 20px; 
    background-color: white;

    .stepImage {
        margin-top: 10px;
        max-width: 300px;
        height: 300px;
        border-radius: 20px;
    }
}

.icon{
    font-size: 24px;
    transition: transform 0.3s ease;
}
.stepHeader {
    background-color: #f1f1f1;
    color: rgb(136, 103, 91);
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

    &:hover {
        background-color: #adabab;
    }
}

.stepDropdown.active .stepContent {
    max-height: 1000px; 
    padding: 20px; 
    border-bottom: 1px solid white;
}

.stepDropdown.active .icon {
    transform: rotate(45deg);
}