body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex;
    flex-direction: column;

    .header{
        color: tomato;
        text-align: center;
    }

}

.stepContent {
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease;
    padding: 0 20px; 
    background-color: white;
}

.icon{
    font-size: 24px;
    transition: transform 0.3s ease;
}
.stepHeader {
    background-color: #f1f1f1;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.stepDropdown.active .stepContent {
    max-height: 1000px; 
    padding: 20px; 
    border-bottom: 1px solid white;
}

.stepDropdown.active .icon {
    transform: rotate(45deg);
}