body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    border-bottom: 2px solid black;
    width: 100%;
}
h1{
    color:indianred;
    display: flex;
    justify-content: center;
}
h2{
    color: blue;
    background-color: lightgray;
    padding: 6px;
    border-radius: 10px;
}
